<div class="row header">
  <div class="seven columns">
    <img src="http://lorempixel.com/500/150" alt="Logo Image">
  </div>
  <div class="five columns">
    <div class="u-pull-right">
      <%= partial('user_controls') %>
    </div>
  </div>
</div>
