body {
  font-family: 'Lato', sans-serif;
  background-color: beige;
}

.navigations {
  background-color: saddlebrown;
}

.nav-bar {
  text-align: center;
  background-color: SteelBlue;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
}

.main {
  padding-top: 2rem;
  background-color: beige;
}

.main h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', sans-serif;
  clear: both;
}

.page-index {
  list-style: none;
}

.page-index li {
  background-color: HoneyDew;
}

.page-index li a {
  text-decoration: none;
  color: steelblue;
}

.main p {
  word-break: normal;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* infoFolder */

.info-topic {
  background-color: honeydew;
}

.info-topic div {
  background-color: tomato;
  margin-bottom: 5px;
}

.info-topic h1 {
  background-color: yellow;
}

