  <div class="three columns navigations">
    <div class="firstnav">
      <ul class="navlist">
        <li><a href="http://pac.lfpl.org/polaris/Search/">Library Catalog</a></li>
        <li><a href="http://pac.lfpl.org/polaris/patronaccount/default.aspx">My Account</a></li>
      </ul>
    </div>
    <div class="secondnav">
      <ul class="navlist">
        <li><a href="ask-lib.htm">Ask-a-Librarian</a></li>
        <li><a href="research/index.asp">Research Tools</a></li>
        <li><a href="internet/">Internet Links</a></li>
      </ul>
    </div>
    <div class="thirdnav">
      <ul class="navlist">
        <li><a href="events.htm">Events &amp; Exhibits</a></li>
        <li><a href="branches/index.htm" >Locations &amp; Hours</a></li>
        <li><a href="aboutlfpl.htm" >About LFPL</a></li>
        <li><a href="services.htm" >Services</a></li>
        <li><a href="outreach.htm#servicesvisuallyimpaired">Accessibility</a></li>
        <li><a href="get-involved.htm">Get Involved</a></li>
      </ul>
    </div>
  </div>
