<div class="row nav-bar">
  <ul class="nav-list">
    <li>About | </li>
    <li> Contact | </li>
    <li> Using the Library | </li>
    <li> Other | </li>
    <li> Menu | </li>
    <li> Stuffs | </li>
  </ul>
</div>
