<button class="button-primary sign-in">Sign In</button>
<button class="button-primary donate">Donate</button>
<br/>
<span class="search">
  <label for="search">Search</label>
  <input type=text id="search" class="five columns button-primary"/>
</span>
